html, body{
	padding: 0px;
	margin: 0px;
	color: rgb(57, 66, 85) ;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, p, a, li, ul{
	font-family: Segoe UI Light, Segoe UI, Roboto, Helvetica, sans-serif;
	font-weight: normal;
	letter-spacing: 1px;
}
a.thick  {
	font-family: Segoe UI, Helvetica, sans-serif;
}
p {
	font-family: Segoe UI, Helvetica, sans-serif;
	letter-spacing: 1px;
}
h1 {
	letter-spacing: 2px;
}
img {
	max-width: 100%;
}
body {
	background-color: #e6e6e6;
}
header {
	position: fixed;
	/*min-width: 400px;*/
	z-index: 999;
	top: 0;
	width: 100%;
	background-color: #fff;
	text-transform: uppercase;
	margin:0;
	padding: 0;

	border-bottom: 2px solid;
}
.nav-wrapper {
	margin: 0 auto;
	padding: 0px 10% 0px 10%;
	/*min-height: 40px;*/
	max-width: 1000px;
	letter-spacing: 1px;
	height: 100%;

}
.nav {
	height: 100%;
}
.vincent-icon {
	margin: 0 auto;
	width:130px;
	height:130px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(../images/vincent3.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	box-shadow: 0 0 0 4px #fff;
	-webkit-box-shadow: 0 0 0 4px #fff;
	-moz-box-shadow: 0 0 0 4px #fff;
}
.vincent-icon-small {
	margin-top: 40px;
	width:90px;
	height:90px;
}
.left {
	margin: auto;
	margin-top: 15px;
	min-width:20%;
	float: left;
	text-align: center;
}
.inline {
	display: inline-block;
	padding: 0px 20px 0px 10px;
	max-width: 80%;
	vertical-align: top;
}
@media all and (max-width: 980px) {
    .inline {
        max-width: 75%;
    }
}
@media all and (max-width: 850px) {
    .inline {
        max-width: 70%;
    }
}
@media all and (max-width: 650px) {
    .inline {
        /*max-width: 60%;*/
        max-width: none;
        width: 100%;
        text-align: left;
    }
    .project-header {
    	/*margin: auto;*/
    	text-align: center;
    }
}

.page-projects, .page-skills {
	max-width: 1000px;
	margin: auto;

}
.projects {
	margin-right: -40px;
}
.project-img {
	width: 100%;
}
.project-header {
	min-height: 150px;
}
.project-body img {
	/*border: 2px solid;*/
}
ul {
	padding-left: 0;
	/*margin: 0;*/
	list-style-type: none;
}
li {
	list-style-type: none;
	display: inline-block;
}
li.li-nav {
	font-size: 18px;
	line-height: 28px;
	/*padding: 1px;*/
	text-align: center;
	height:  100%;
}
li.li-nav:hover {
	border-bottom: 2px solid;
	margin-bottom: -2px;
}
li.float-left b {
	float: left;
	letter-spacing: 2px;
	font-size: 18px;
}
li.float-right {
	float: right;
	font-size: 14px;
	margin-left: 20px;
	letter-spacing: 1.5px;
}
a {
	color: inherit;
	text-decoration: none;
}
.1p-height {
	min-height: 100vh;
}
.page {
	/*min-height: 100vh;*/
	/*background-color: #e6e6e6;*/
	/*padding-top: 100px;*/
	padding-bottom: 100px;
	padding-top: 100px;

	width: 100%;
	margin: auto;
}
.page-project {
	max-width: 1000px;
	margin: auto;
}
.page-intro-wrapper {
	width: 100%;
	background-color: #e6e6e6;
}
.page-header {
	font-size: 28px;
}
.main {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	transform:translate(-50%,-50%);
	letter-spacing: 1px;
	z-index:15;
	margin: auto;
}
.main-wrapper {
	width: 100%;
	min-height: 500px;
	height: 90vh;
	background: rgb(57, 66, 85) ;
	color: white;

}
.content {
	background-color: #e6e6e6;
	/*padding: 10%;*/
}
.pages-wrapper {
	padding: 0 10% 0 10%;
}
.intro h2 {
	text-align: center;
}
.intro {
	max-width: 600px;
	margin: auto;
}
.intro-text {
	font-size: 24px;
}
.img_wrapper {
	/*background: url(../images/mac.png) no-repeat center center;*/
/*	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	/*width: 100%;*/
	height: 320px;
	padding-left: 10%;
	padding: 35px 30px 2px 30px;
}
.img_inner {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*height:100%;*/
	/*margin-top: 100px;*/
	/*width: 50%;*/
	height: 100%;
}
li.tile {
	/*position: relative;*/
	/*padding: 2%;*/
	width: 45%;
	/*height: 400px;*/
	/*border: 1px solid;*/
	/*margin: -3px;*/
	/*padding-bottom: 33.3%;*/
	margin-right: 40px;
	margin-bottom: 40px;
}	
@media screen and (max-width: 1100px) {
	li.tile {
		width: 45%;
		margin-right: 20px;
		margin-bottom: 20px;
		/*height: 250px;*/
		/*border: 1px solid;*/
		/*margin: -3px;*/
		/*padding-bottom: 50%;*/
	
	}
	.img_wrapper {
		height: 250px;
	}
}
@media screen and (max-width: 800px) {
	li.tile {
		width: 100%;
		margin-bottom: 40px;
		margin-right: 0px;
		/*height: 250px;*/
		/*border: 1px solid;*/
		/*margin: -3px;*/
		/*padding-bottom: 500px;*/
	}	
	.img_wrapper {
		height: 350px;
	}
	.projects {
		margin-right: 0px;
	}
}
@media screen and (max-width: 600px) {
	.img_wrapper {
		height: 300px;

	}
}
.tiled {
	width: 100%;
	height: 100%;
	text-align: left;
	background-color: #fff;
}
.tile-header {
	font-size: 22px;
	line-height: 22px;
	text-transform: uppercase;
	letter-spacing: 2px;

}
.tile-description {
	font-size:16px;
	text-align: left;
}
.tile-text {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 0px 10px 0px 10px;
}

.footer {
	/*background-color: #e6e6e6;*/
	max-width: 1000px;
	margin: auto;
	text-align: center;
	height: 60px;
}
.skill-div {
	min-height: 50px;
}
.skill {
	display: block;
	margin-bottom: 20px;
	color: white;
}
.skill-div {
	padding: 0 10px 0 10px;
}
.skill-left, .skill-right {
	line-height: 50px;
	display: inline-block;
}
.skill-right {
	float: right;
}